
@font-face {
  font-family: "SUNDAYMORNING-BWQE3";
  src: local("SUNDAYMORNING-BWQE3"),
   url("../fonts/SUNDAYMORNING-BWQE3.OTF") format("truetype");
  font-weight: bold;
  }


  @font-face {
    font-family: "Tomatoes-O8L8.ttf";
    src: local("Tomatoes-O8L8.ttf"),
     url("../fonts/TOMATOES-O8L8.TTF") format("truetype");
    font-weight: bold;
    }


  @media only screen and (max-width: 600px) {
    body {
      background-color: #0B1C3B;
      color:azure;
    }
    .container_about{
      color:azure;
      margin-left: 2rem;
    }
    Link ,  h1.page_about{
      font-size: 2rem;
      color:aliceblue;
    }
  }

  .container_about{
    position: relative;
    bottom: 10px;
    box-sizing: border-box;
    text-align: justify;
    font-size: 1.2rem;
    
  }

.element {
  width: 45vh;
  height: 100vh;
  float: left;
  background-image: url(../images/SAT_111.jpg);
  background-size: cover;
  background-position: -100px 0;
  background-repeat: no-repeat;
  -webkit-clip-path: ellipse(90% 70% at 0% 50%);
  clip-path: ellipse(90% 70% at 0% 50%);
  -webkit-shape-outside: ellipse(90% 70% at 0% 50%);
  shape-outside: ellipse(90% 70% at 0% 50%);
  -webkit-shape-margin: 2em;
  shape-margin: 2em;
}

h1.page_about{
  font-family: "SUNDAYMORNING-BWQE3", "Roboto", "Helvetica Neue";
  position: relative;
  top:20px;
}

h1,
h3 {
  padding: 1em;
  margin: 1em;
}

p {
  margin:1em;
  padding:1em;
}

ul {
  list-style: circle;
  list-style-position: inside;
}
