@media only screen and (max-width: 600px) {
    .App_container_export {
        overflow: scroll;
        font-size: 0.2rem;
        flex-wrap: nowrap;
    }
    div.container_appe {
        flex-wrap: nowrap;
        margin: 60px 10px 60px 60px;
        overflow: scroll;
    }
    td.MuiTableCell-root {
        font-size: 0.8rem;
        margin: 0px;
        padding: 10px;
    }
}

.container_appe {
    position: relative;
    margin: 70px;
}
.export-btn {
    float: right;
    margin-bottom: 10px !important;
}

.css-1q1u3t4-MuiTableRow-root:hover {
    background-color: rgba(255, 127, 80, 0.276);
}

td.MuiTableCell-root {
    padding: 5px 15px;
    margin: 10px;
    min-width: 150px;
}
