.welcome_style {
    position: relative;
    top: 250px;
    font-size: 3rem;
    font-family: "Tomatoes-O8L8.ttf", "Roboto", "Helvetica Neue";
    color: #458df3;
}

.container_home {
    background-color: #000000;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, #000000, #04619f) !important;
    background-attachment: fixed !important;
}

p {
    margin: 20px;
    padding: 15px;
    box-sizing: border-box;
}

.container_home_2 {
    text-align: justify;
    font-size: 1.2rem;
}

@font-face {
    font-family: "SUNDAYMORNING-BWQE3";
    src: local("SUNDAYMORNING-BWQE3"),
        url("../fonts/SUNDAYMORNING-BWQE3.OTF") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Tomatoes-O8L8.ttf";
    src: local("Tomatoes-O8L8.ttf"),
        url("../fonts/TOMATOES-O8L8.TTF") format("truetype");
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    body {
        color: azure;
    }

    .logo_SAT_home {
        width: 0;
        height: 0;
    }

    .container_home_2 {
        top: 50px;
        position: relative;
    }

    .welcome_style {
        position: relative;
        top: 25px;
        font-size: 1.2rem;
        left: -19px;
        font-family: "Tomatoes-O8L8.ttf", "Roboto", "Helvetica Neue";
        color: #b6cbe6;
    }

    .element_home {
        width: 30vh !important;
    }
}

.home_link {
    padding: 10px 15px;
    position: relative;
    border-radius: 50%;
    border: 0.5rem solid #eac4d5;
    font-size: 1.6rem;
    box-shadow: black 1px 1px 10px;
    color: #2e9c99;
    display: inline;
}

.element_home {
    width: 45vh;
    height: 100vh;
    float: left;
    background-image: url(../images/SAT_111.jpg);
    background-size: cover;
    background-position: -100px 0;
    background-repeat: no-repeat;
    -webkit-clip-path: ellipse(90% 70% at 0% 50%);
    clip-path: ellipse(90% 70% at 0% 50%);
    -webkit-shape-outside: ellipse(90% 70% at 0% 50%);
    shape-outside: ellipse(90% 70% at 0% 50%);
    -webkit-shape-margin: 2em;
    shape-margin: 2em;
}

.home_app:hover {
    transform: scale(1.2), rotate(1deg);
}

img.shadow-wrap_home {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    color: #946eae;
    position: relative;
}
