.color{
    color: hsl(107, 31%, 69%);
    color:#C9A698;
    color:#BF98C9;
    color:#98BBC9;
    color: #FF588E;
    color:#FED68D;
    color: #80E2A8;
    color: #372C40;

    color: #809BCE;
    color: #95B8D1;
    color:#B8E0D2;
    color: #D6EADF;
    color: #EAC4D5;

    color:#E8B097;
    color: #DCB677;
    color: #6D7C8E;


    color: #2E9C99;
    color: #FECA01;
    color: #FE7EC9;
    color: #458DF3;

    color: #F0C50A;
    color: #0B1C3B;
    color: #4F8488;
    color: #949FA2;
    color: #6C6776;
    color: #5F5D6B;

    color: #BA3981;
    color: #2999A4;
    clear: #BE6295;
    color: #52B352;
    color: #946EAE;
    color: #B7B907;

    color:#628C67;
    color:#FDEBC9;
    color:#4B687E;/*  */
    color:#72A075;
    color:#ED6C5C;

    color:#E8B097;
    color: #DCB677;
    color: #6D7C8E;

}