.page_book {
    position: relative;
    top: 50px;
    font-size: 2rem;
    font-family: "SUNDAYMORNING-BWQE3", "Roboto", "Helvetica Neue";
    color: #2e9c99;
}

.book_container {
  position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 100px;
    justify-content: center;
    padding: 10px;
    margin:1.8rem;
}

.student_book {
    background-color: #dcb677;
    border: 1px solid #852a36;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.3rem;
    box-shadow: #5b5959 1px 1px 3px;
    font-family: "Helvetica Neue", "Roboto";
    color: #852a36;
    font-weight: 400;
}
