.page_camera{
    position:absolute; right: 22%;
    top:55px; 
    font-size: 1.6rem;
    text-align: center;
    font-family: cu;
    list-style-type: none;
  }

  .student_camera{
    position:absolute; right: 19%;
    top:100px; 
    font-size: 1.6rem;
    text-align: center;
    font-family: cu;
    list-style-type: none;
  }

  .retake_camera{
    position:absolute; right: 0%;
    top:220px; 
    font-size: 1.6rem;
    text-align: center;
    font-family: cu;
    list-style-type: none;
    width: 200px;
  }

  .capture_camera{
    position:absolute; right: 0%;
    top:220px; 
    font-size: 1.6rem;
    text-align: center;
    font-family: cu;
    list-style-type: none;
    width: 200px;
  }