.page_camera_style {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
   /*  flex-wrap: wrap; */
    font-size: 2rem;
   /*  text-align: center; */
    font-family: cu;
}

.student_camera_style {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
 /*  flex-wrap: wrap; */
  font-size: 2rem;
 /*  text-align: center; */
  font-family: cu;
  left: 10px;
}

/* .retake_camera {
    font-size: 1.6rem;
    text-align: center;
    font-family: cu;
    top: 200px;
}

.capture_camera {
    top: 200px;
    font-size: 1.6rem;
    text-align: center;
    font-family: cu;
} */
/* .capture_camera{
  border-radius: 10px;
  border:1px solid brown;
} */