.students{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}


.student__header{
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}

.student__footer{
    margin: 1rem 0 0.25rem 0;
    font-style: oblique;
}

