.datePicker{
    /* text-align: center; */
    width:18rem;
}

 .page_attendance_C{
    display: flex;
     top:50px; 
     font-size: 2rem;
     text-align: center;
     font-family: cu;
     
     }
