.birthday_container{
  margin-left: 0.9rem;
  display: flex;
  /*  justify-content: center; */
   align-items: center;
   flex-direction: column;
}



.page_birthday{
  position:absolute;
  top:50px; 
  font-size: 1.6rem;
  text-align: center;
  font-family: cu;
  list-style-type: none;
}

.button_container{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width:25rem;
  /* position:absolute; right: 7%; */
  top:100px;
  
}

.student_birthday_B {
  /* background-color:rgb(219, 235, 248); */
  background-color: rgba(255, 192, 203, 0.493);
  border: 1px dotted rgb(133, 42, 54);
  border-radius: 15px;
  padding: 0.5rem;
  margin: 0.3rem;
  max-width: 26rem;
  min-width: 21rem;
  box-shadow: 1px 1px 3px rgb(196, 196, 196);
  top:100px;
  left:10px;
  /* left:63%; */
position: relative;
}

      .birthday_card_button{
    border: 0;
    height: 3rem;
    width: 8rem;
    line-height: 2.5;
    margin: 2px;
    padding: 5px 10px;
    font-size: 0.9rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(236, 141, 141);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
                
}

button:hover {
    background-color: rgb(224, 119, 119);

}

button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.colors{
    color:#628C67;
    color:#FDEBC9;
    color:#4B687E;
    color:#72A075;
    color:#ED6C5C;
}

.student_img_B {
  width: 70px;
  height: 70px;
  /* background-size: cover; */
  object-fit: cover;
  border-radius: 50%;
}
.student_info_B {
  font-size: 1.2rem;
  font-weight: lighter;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  color: rgb(5, 96, 96);
}

/* .overflow-birthday{
  overflow-y:scroll;
  top:10px;
  height: 50vh;
} */
