 .BarChart{

} 
.overflow-auto_chart{
    /* overflow:auto; */
   /* display:flex; */
    position: relative !important;
    width: 90%;
    height: auto;
    top:50px;
    align-items: center;
    
}