@media screen and (max-width: 480px) {
    canvas {
        transform: scale(1.6) rotate(90deg);
        position: relative;
        top: 200px;
        color: azure;
    }
}
.barChart {
    position: relative;
    width: 90%;
    left: 80px;
    top: 10px;
}
