
.student_search {
    position:absolute;
    right:7rem;
    top:10px; 
}
.page_name{
/*     position:absolute; */
    right: 25%;
    top:50px; 
    font-size: 2rem;
    text-align: center;
    font-family: cu;
}

.student_btn{
    width:200px;
    margin:2px;
}

.attendance_btn{
    width:200px;
    margin:2px;
}
.page_container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}