.page_studentForm{
    top:150px; 
    font-size: 2rem;
    text-align: center;
    font-family: cu;
    /* list-style-type: none; */
    
}

/* .page_name{
    position:absolute; right: 21%;
    top:50px; 
    font-size: 2rem;
    text-align: center;
    font-family: cu;
} */

.page_container{
    top: 50px;
    position: relative;
    display:flex;
    margin-left: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.page_name{
        font-size: 2rem;
        text-align: center;
        font-family: cu;
        /* 0000000 */
    }
    