Link,
a {
    text-decoration: none;
}

/*  */
.students_class {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.students_class_attendance {
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.students_class_group {
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.student_card_edit {
    background-color: #6e665f;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    min-width: 20rem;
    box-shadow: 1px 1px 3px rgb(196, 196, 196);
    left: 20px;
    position: relative;
    background-image: url("../images/100 (16).png");
    background-size: 26%;
    text-align: center;
    background-repeat: no-repeat;
    box-shadow: #372c40 1px 1px 5px;
}

.student_card_edit:hover {
    transform: skewX(5deg);
}

.student_card_1 {
    background-color: #6e665f;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.2rem;
    min-width: 20rem;
    box-shadow: 1px 1px 3px rgb(196, 196, 196);
    left: 20px;
    position: relative;
    background-image: url("../images/100 (16).png");
    background-size: 26%;
    text-align: center;
    background-repeat: no-repeat;
}

.student_card_2 {
    background-color: rgb(232, 176, 151, 0.9);
    border-radius: 35px 1px 1px 35px;
    padding: 0.5rem;
    margin: 0.3rem;
    max-width: 26rem;
    min-width: 20rem;
    box-shadow: 1px 1px 3px #52b352;
    position: relative;
    background-image: url("../images/101.png");
    background-size: 23%;
    text-align: center;
    background-repeat: no-repeat;
}

.student_card_2 :hover {
    transform: scale(1.05);
}

.student_card_container {
    display: flex;
    padding: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    left: 20px;
}

.student_img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: #5f5d6b 1px 1px 10px;
    border: #72a075 solid 4px;
}
.student_info {
    font-size: 1rem;
    font-family: "Roboto", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    color: rgb(5, 96, 96);
    text-decoration: none;
}

.student_info_attend {
    font-size: 1rem;
    font-family: "Montserrat", "Roboto", "Gill Sans MT", "Calibri",
        "Trebuchet MS", "sans-serif";
    padding: 5px;
    color: #056060;
    text-decoration: none;
    border-radius: 5px;
    background-color: #dcb57774;
}

.student_info_edit {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    font-family: "Roboto", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.student_card_attendance {
    display: flex;
    flex-direction: column;
    background-color: #72a075;
    justify-content: center;
    border-radius: 5px 50px;
    padding: 0.5rem;
    margin: 1.1rem 0.2rem;
    width: 8rem;
    height: 7rem;
    box-shadow: 1px 1px 3px rgb(196, 196, 196);
    position: relative;
    background-image: url("../images/100 (16).png");
    background-size: 26%;
    background-repeat: no-repeat;
    box-shadow: #72a075 1px 1px 10px;
}

.student_card_attendance:hover {
    transform: rotate(-5deg);
    transition: all 0.5s;
    box-shadow: #72a075 1px 1px 10px;
    transform: scale(1.1) rotate(-2deg);
}

.student_img_attendance {
    position: absolute;
    top: -30px;
    width: 60px;
    height: 60px;
    transform: translateX(-50%);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: #5f5d6b 1px 1px 10px;
    border: #72a075 solid 4px;
}
.student_info_attendance {
    font-size: 1rem;
    font-family: "Montserrat", "Gill Sans MT", "Calibri", "Trebuchet MS",
        "Tomatoes-O8L8.ttf", "Roboto";
    color: #372c40;
}

.checkbox {
    margin: 1rem;
    height: 30px;
    width: 20px;
    cursor: pointer;
}

.container_class {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.student_search {
    position: relative;
    top: 130px;
    border-radius: 5px;
    padding: 3px;
    border-color: #72a075;
    box-shadow: #72a075 1px 1px 10px;
}
/*  */
.page_classroom {
    position: relative;
    top: 30px;
    font-size: 2rem;
    text-align: center;
    font-family: "SUNDAYMORNING-BWQE3", "Roboto";
    color: #628c67;
    padding: 6px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* .page_name_class {
    position: relative;
    display: flex;
    justify-content: center;
    top: 50px;
    font-size: 2rem;
    font-family: "SUNDAYMORNING-BWQE3", "Roboto";
    color: #ba3981;
    padding: 6px;
    border-radius: 5px;
}
 */
/*  */
.students_btn {
    width: 200px;
    margin: 2px;
    justify-content: right;
}

/*  */
.attend_btn {
    width: 200px;
    margin: 2px;
}
/*  */
.btn_container_class {
    position: relative;
    top: 100px;
}

/*  */
.page_container_class {
    top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.datePicker {
    width: 18rem;
}

.page_attendance {
    font-size: 2rem;
    font-family: "SUNDAYMORNING-BWQE3", "Roboto";
    color: #b7b907;
    margin-bottom: 20px;
}

.card_container_calender {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50px;
}
