
.page_name{
    position:relative;
    display: flex;
    justify-content: center;
    top:50px; 
    font-size: 2rem;
    text-align: center;
    font-family: cu;
}

.student_btn{
    width:200px;
    margin:2px;
}

.attendance_btn{
    width:200px;
    margin:2px;
}

.page_container{
    top: 10px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
