.students{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}


.student__header{
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}

.student__footer{
    margin: 1rem 0 0.25rem 0;
    font-style: oblique;
}

.page_Edit{
    position:absolute;
    top:50px; 
    font-size: 1.5rem;
    text-align: center;
    font-family: "Roboto";
  /*   list-style-type: none; */
  background-color: rgb(220, 181, 119, 0.8);
  padding: 6px;
  border-radius: 5px;
}