.page_studentForm_form {
    position: relative;
    top: 50px;
    font-size: 2rem;
    text-align: center;
    font-family: "SUNDAYMORNING-BWQE3", "Roboto";
    color: #946eae;
}

.page_container_form {
    background-color: #2e9c99;
    padding: 20px 10px;
    border-radius: 10px;
    border: 1px solid #fe7ec9;
    box-shadow: #6d7c8e 2px 2px 10px;
}

.form_container {
    position: relative;
    display: flex;
    justify-content: center;
    top: 70px;
}
.mb-2 {
    left: 10px;
}
