.page_contact {
    position: relative;
    top: 50px;
    font-size: 2rem;
    text-align: center;
    font-family: "SUNDAYMORNING-BWQE3", "Roboto", "Helvetica Neue";
    color: #ed6c5c;
}

.contact_container {
    top: 70px;
    position: relative;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 1rem;
}

.student_contact {
    background-color: rgb(114, 160, 117, 0.85);
    border: 2px solid rgb(133, 42, 54);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.2rem;
    position: relative;
    box-shadow: 1px 1px 3px rgb(196, 196, 196);
    top: 0px;
    font-family: "Open sans", "Franklin Gothic Medium", "Arial Narrow",
        "Arial, sans-serif";
    width: 21rem;
    max-width: 19rem;
    height: 9rem;
    background-image: url("../images/100 (18).png");
    background-size: 15%;
    right: 0px;
    text-align: center;
    background-repeat: no-repeat;
}

.student_info_contact {
    font-size: 0.9rem;
    font-family: "Open sans", sans-serif;
    color: rgb(5, 96, 96);
    color: #0b1c3b;
    line-height: 1.6rem;
}

.contact_name {
    color: #ed6c5c;
    color: white;
    font-size: larger;
    text-shadow: #628c67 1px 1px 1px;
}

.student_img_contact {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: #5f5d6b 1px 1px 10px;
    border: #ed6c5c solid 2px;
    position: absolute;
    left: 10px;
}
