.teacher_card {
    position: relative;
    top: 30px;
    justify-content: center;
    width: 20rem;
    height: auto;
    left: 25px;
    background-image: url("../images/100__6__C.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    justify-content: center;
}

.teacher_ul li {
    list-style-type: none;
    width: 16rem;
    color: #372c40;
}

.student_img_B {
    padding: 0px;
}
